/* Background For Opening Message */
#introduction{
    background: url(../images/header-background.jpg);
    height: 600px;
    opacity: .9;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(255, 250, 250, 0.281);
}

/* individual snowflake styles */
.snowflake.design-1:before{
    content: "\2744";
}
.snowflake.design-2:before{
    content: "\2745";
}
.snowflake.design-3:before{
    content: "\2746";
}

/* snowflake animation */
.snowflake {
    
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    position: absolute;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:8s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:8s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

@-webkit-keyframes snowflakes-fall{
    0%{top:-10%}
    100%{top:75%}
}
@-webkit-keyframes snowflakes-shake{
    0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
    50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
    100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes snowflakes-fall{
    0%{top:-10%}
    100%{top:75%}
}
@keyframes snowflakes-shake{
    0%{transform:translateX(0px)}
    50%{transform:translateX(80px)}
    100%{transform:translateX(0px)}
}

/* Nav Bar Items */
#logo{
    margin-left: 1%;
    font-weight: bold;
    color: white;
}
#logo:hover,
#aboutMe:hover,
#resume:hover,
#contactInfo:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
#aboutMe{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#resume{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#contactInfo{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.navbar-toggler{
    background-color:white;
    opacity: .5;
}
#navbar-color{
    background-color:#3a4660;
    position: fixed top;
}

/* Extra Spacing in areas that I don't want to be shown */
.white-space{
    visibility: hidden;
}
#short-message{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    width:  40%;
}
h1{
    font-size: 60px;
}

/* Picture & Brand Statement */

/* Divider */
hr{
    border: 2px solid #3a4660;
    width: 60%;
}

/* Skills & Interests Section */
#skills{
    text-align: center;
}
#interests{
    text-align: center;
}
#bilingual:after{
    content: "\1f44d";
}
#games:after{
    content: "\1F3AE";
}
#soccer:after{
    content: "\26bd";
}
#street-wear:after{
    content: "\1F454";
}
#travel:after{
    content: "\1F6EB";
}

/* Projects Section */
#project-overview{
    text-align: center;
    margin: 0 auto;
}

/* Footer & Social Media Links*/
#social-media{
    text-align: center;
    background-color: #d5d5d5;
}
.social a {
    font-size: 2em;
    padding: 3rem;
}
.social-media-list{
    list-style: none;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.fa-facebook {
    color: #3b5998;
  }
.fa-linkedin{
    color: #4875B4

}
.fa-github{
    color: black;
}

.fa-facebook:hover,
.fa-linkedin:hover,
.fa-github:hover {
  color: whitesmoke;
}

footer{
    background-color:#3a4660;
    color: white;
    padding: 50px;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 400px) and (min-width: 300px){
    #short-message{
        width:  95%;
    }
    #self-picture{
        height: 300px;
        display: block;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .personal-brand-statement{
        text-align: center;
    }
    #movies-logo{
        margin-bottom: 30px;
        margin-top: -50px;
    }
    #anime-logo{
        margin-bottom: 30px;
        margin-top: -30px;
    }
    #got-logo{
        margin-bottom: 30px;
        margin-top: -30px;
    }
    .social.padding{
        display: flex;
        margin-left: -25px;
    }
}
@media only screen and (max-width: 500px) and (min-width: 401px){

}
@media only screen and (max-width: 800px) and (min-width: 700px){
    #short-message{
        width:  60%;
    }
    #self-picture{
        height: 350px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}