/* Background For Opening Message */
#introduction{
    background: url(../images/header-background.jpg);
    height: 600px;
    opacity: .9;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

/* Nav Bar Items */
#logo{
    margin-left: 1%;
    font-weight: bold;
    color: white;
}
#aboutMe{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#resume{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#contactInfo{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.navbar-toggler{
    background-color:white;
    opacity: .5;
}
/* Text Inside of Background */
#white-space{
    visibility: hidden;
}

#short-message{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    width:  40%;
}
h1{
    font-size: 60px;
}

/* Picture & Brand Statement */

/* Divider */
hr{
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 60%;
}

/* Skills & Interests Section */
#skills{
    text-align: center;
}
#interests{
    text-align: center;
}

/* Projects Section */
#project-overview{
    text-align: center;
    margin: 0 auto;
}

/* Footer & Social Media Links*/
#social-media{
    text-align: center;
    background-color: #d5d5d5;
}
.social a {
    font-size: 2em;
    padding: 3rem;
  }

.fa-facebook {
    color: #3b5998;
  }
.fa-linkedin{
    color: #4875B4

}
.fa-github{
    color: black;
}

.fa-facebook:hover,
.fa-linkedin:hover,
.fa-github:hover {
  color: violet;
}

footer{
    background-color:rgba(0, 0, 0, 0.829);
    color: white;
    padding: 50px;
    text-align: center;
}

